---
---

body {
  background-color: #FFF;
}

h1 {
  font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 400;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 400;
}

h3 {
  font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 400;
}

p {
  font-family: brandon-grotesque, sans-serif;
font-style: normal;
font-weight: 400;
}

.container {
    position: static;

    height: 700px;
    width: 780px;
    top: 50%;
    left: 50%;
    margin: 10px;

    margin-left: auto;
    margin-right: auto;
}

.banner {
 width: auto;;
 height: auto;
 margin-bottom: 100px;
}

.banner__title {

}

.banner__button {

}

.content {
 width: auto;
 height: auto;
 margin-bottom: 100px;
}

.testimonials {

}

.logo {

}
