
.site-footer {
  padding: 20px 15px;
  color: #999;
  background-color: #292825;
}

.white-text {
  color: #fff;
}


.site-footer a {
  color: lightgrey;
  &:hover{
    color: darkgrey;
  }
  &:visited{
    color: grey;
  }
  &:active{
    color: pink;
  }
}
