<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.rawgit.com/eskilfogelstrom/sigrid/1.0.0/dist/sigrid.min.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">

    <div class="banner">
      <div class="row row--center">
        <div class="col col--4">
         <h1 class="banner__title">Talegraph</h1>
         <button class="button banner__button"><h1>Sign Up Now!</h1></button>
        </div>
      </div>
    </div>

    <div class="content">
        <div class="row row--full-height">
          <div class="col col--4">
            <div class="col__inner"><h3>Content Placeholder 1</h3><p>Longer paragraphs are going to go here and they are going to have a lot of text.</p></div>
          </div>
          <div class="col col--4">
            <div class="col__inner"><h3>Content Placeholder 2</h3><p>Really nice text to love and appreciate on a platonic level.</p></div>
          </div>
          <div class="col col--4">
            <div class="col__inner"><h3>Content Placeholder 3</h3><p>I hope you will love it a lot and hug it tight.</p></div>
          </div>
        </div>
    </div>

    <div class="banner">
    <div class="row row--center">
      <div class="col col--4">
        <button class="button banner__button"><h3>NEW CTA BUTTON</h3></button>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="row row--center">
        <div class="col col--4"><h3>Logo Placeholder 1</h3><p>P1</p></div>
        <div class="col col--4"><h3>Logo Placeholder 2</h3><p>P2</p></div>
        <div class="col col--4"><h3>Logo Placeholder 3</h3><p>P3</p></div>
    </div>
  </div>

  <div class="logo">
    <div class="row row--center">
      <div class="col col--4"><h2>Hyper Island</h2></div>
    </div>
  </div>

		<footer>
      <div class="footer">
        <div class="row row--center">
          <div class ="col col--4">
            <p>Talegraph</p>
          </div>
        </div>
      </div>
    </footer>
</div>
</body>

</html>
