<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.rawgit.com/eskilfogelstrom/sigrid/1.0.0/dist/sigrid.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="banner">

      <div class="container">
        <div class="row row--middle">
          <div class="col col--sm-6"></div>
          <div class="col col--sm-6">
            <h1 class="banner__title">Create beautiful data visualisations that tell a story</h1>
            <p class="banner__lead">TaleGraph helps you create data-driven stories that have an impact. Get started for free.</p>
            <button class="button button--border button--lg">Get started</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container section section--lg">
      <div class="row">
        <div class="col col--sm-4 u--text-center">
          <h2>Storytelling</h2>
          <p>Make your data have an impact with compelling storytelling. TaleGraph let’s you setup storypoints which users can navigate between.</p>
        </div>
        <div class="col col--sm-4 u--text-center">
          <h2>Customizable</h2>
          <p>Customize the look and feel of your stories to match your message. Change everything from graph type to changing  colors.</p>
        </div>
        <div class="col col--sm-4 u--text-center">
          <h2>Accessible</h2>
          <p>TaleGraph was made with content-publishers in mind. Embed your completed story anywhere with a simple code snippet.</p>
        </div>
      </div>
    </div>

    <div class="banner banner--sm u--text-center">
      <h2 class="banner__title banner__title--sm">Get started now for free</h2>
      <button class="button button--border button--lg">Get started</button>
    </div>
  </body>
</html>
